body{
    background-color: rgb(0, 0, 0);
    color:grey;
    font-family:arial;
    font-size:1.2rem;
    line-height: 1.3rem;
}

div.largetext{
    font-size:3.5rem;
    line-height:3.5rem;
    font-family: "baskerville-bt", sans-serif;
font-weight: 700;
font-style: italic;
}

div.mediumtext{
    font-size:1rem;
    line-height:1rem;
    margin-bottom: 1rem;
}

div.smalltext{
    font-size: 0.5rem;
    line-height: 0.5rem;

}

div.extrasmalltext{
    font-size: 0.2rem;
    line-height: 0.2rem;
    
}

div.mt{
    margin-top: 5rem;
}

div.text-cyan{
    color:cyan;
}

div.container{
    display:flex;
    flex-wrap:wrap;

}

div.swatch{
    width:20rem;
    height:20rem;
    border-radius:0.6rem;
    background-color: grey;
    margin-right:3rem;
}

div.bg-cyan{
    background-color: cyan;
}

div.bg-pink{
    background-color: pink;
}

div.bg-grey{
    background-color: grey;
}